<div class="fundo-slider">
    <div class="topo-slider">
        <p class="fs-3"><strong>DC Comics</strong></p>
    </div>
    <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row row-cols-6">
                <div class="col-2">
                    <div class="hq bg-dark text-light">
                        <img class="img-fluid" src="../../assets/Capa HQ.png">
                        <div class="d-flex justify-content-center">
                            <h1>Batman</h1>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="hq bg-dark text-light">
                        <img class="img-fluid" src="../../assets/Capa HQ.png">
                        <div class="d-flex justify-content-center">
                            <h1>Batman</h1>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="hq bg-dark text-light">
                        <img class="img-fluid" src="../../assets/Capa HQ.png">
                        <div class="d-flex justify-content-center">
                            <h1>Batman</h1>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="hq bg-dark text-light">
                        <img class="img-fluid" src="../../assets/Capa HQ.png">
                        <div class="d-flex justify-content-center">
                            <h1>Batman</h1>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="hq bg-dark text-light">
                        <img class="img-fluid" src="../../assets/Capa HQ.png">
                        <div class="d-flex justify-content-center">
                            <h1>Batman</h1>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="hq bg-dark text-light">
                        <img class="img-fluid" src="../../assets/Capa HQ.png">
                        <div class="d-flex justify-content-center">
                            <h1>Batman</h1>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>